.logo {
	  width: 80%;
	  
}
.quadrados {
	width: 50%;
	height: 84px;
	background-color: #F2F1EF;
}
table {
    width: 75%;
    display: table;
}
.imagemgaleria {
	    width: 100%;
}
#h3galeria{
    z-index: 1;
}
.posi{
    position: relative;
    top: -17px;
}